In [46]:
#Importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.simplefilter("ignore")

In [47]:
ac = pd.read_csv("C:/Files/VS/Codes/Intro to ai and ml/activity.csv")

In [48]:
ac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1073623 entries, 0 to 1073622
Data columns (total 6 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   user       1073623 non-null  int64
 1   activity   1073623 non-null  object
 2   timestamp  1073623 non-null  int64
 3   x-axis     1073623 non-null  float64
 4   y-axis     1073623 non-null  float64
 5   z-axis     1073623 non-null  float64
dtypes: float64(3), int64(2), object(1)
memory usage: 49.1+ MB

In [49]:
ac.head()

   user activity      timestamp  x-axis  y-axis  z-axis
0     1  Walking  4991922345000    0.69   10.80   -2.03
1     1  Walking  4991972333000    6.85    7.44   -0.50
2     1  Walking  4992022351000    0.93    5.63   -0.50
3     1  Walking  4992072339000   -2.11    5.01   -0.69
4     1  Walking  4992122358000   -4.59    4.29   -1.95

In [50]:
x = ac.drop(columns = ["user", "activity", "timestamp"])
y = ac["activity"]

In [51]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.4)

In [52]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators = 100)
model.fit(x_train, y_train)
prediction = model.predict(x_test)

In [53]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test, prediction)*100

In [54]:
print(f"Accuracy: {acc}%")

Accuracy: 63.09279310746303%