In [9]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [10]:
ac = pd.read_csv("C:/Files/VS/Codes/Intro to ai and ml/activity.csv")

In [11]:
ac.head()

   user activity      timestamp  x-axis  y-axis  z-axis
0     1  Walking  4991922345000    0.69   10.80   -2.03
1     1  Walking  4991972333000    6.85    7.44   -0.50
2     1  Walking  4992022351000    0.93    5.63   -0.50
3     1  Walking  4992072339000   -2.11    5.01   -0.69
4     1  Walking  4992122358000   -4.59    4.29   -1.95

In [12]:
x = ac.drop(columns = ["user", "activity", "timestamp"])
y = ac["activity"]

In [16]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.32)

In [17]:
import sklearn
from sklearn.cluster import KMeans
model= KMeans(n_clusters =2)
model.fit(x_train, y_train)
pred=model.predict(x_test)

In [18]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, pred)*100

print(f"accuracy={accuracy}%")

accuracy=0.0%