In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.simplefilter('ignore')

In [3]:
db = pd.read_csv("C:/Files/VS/Codes/offline/Intro to ai and ml/activity.csv")

In [4]:
db.head()

   user activity      timestamp  x-axis  y-axis  z-axis
0     1  Walking  4991922345000    0.69   10.80   -2.03
1     1  Walking  4991972333000    6.85    7.44   -0.50
2     1  Walking  4992022351000    0.93    5.63   -0.50
3     1  Walking  4992072339000   -2.11    5.01   -0.69
4     1  Walking  4992122358000   -4.59    4.29   -1.95

In [5]:
db.describe()

               user     timestamp        x-axis        y-axis        z-axis
count  1.073623e+06  1.073623e+06  1.073623e+06  1.073623e+06  1.073623e+06
mean   1.880682e+01  3.289157e+13  6.720567e-01  7.332700e+00  4.024567e-01
std    1.028704e+01  4.909825e+13  6.916894e+00  6.732950e+00  4.789301e+00
min    1.000000e+00  7.345234e+10 -1.961000e+01 -1.961000e+01 -1.980000e+01
25%    1.000000e+01  2.057092e+12 -2.960000e+00  3.340000e+00 -2.260978e+00
50%    1.900000e+01  9.750603e+12  3.400000e-01  8.010000e+00 -4.000000e-02
75%    2.800000e+01  3.525530e+13  4.520000e+00  1.160000e+01  2.760000e+00
max    3.600000e+01  2.093974e+14  1.995000e+01  2.004000e+01  1.961000e+01

In [6]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1073623 entries, 0 to 1073622
Data columns (total 6 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   user       1073623 non-null  int64
 1   activity   1073623 non-null  object
 2   timestamp  1073623 non-null  int64
 3   x-axis     1073623 non-null  float64
 4   y-axis     1073623 non-null  float64
 5   z-axis     1073623 non-null  float64
dtypes: float64(3), int64(2), object(1)
memory usage: 49.1+ MB

In [6]:
x = db.drop(columns = ['user','activity','timestamp'],axis=1)
y = db['activity']

In [7]:
from sklearn.neighbors import KNeighborsClassifier

In [8]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.35)

In [9]:
model = KNeighborsClassifier(n_neighbors = 2)
model.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=2)

In [10]:
pred = model.predict(x_test)

In [11]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, pred)*100

In [12]:
print("Accuracy of the Model is : ", accuracy,"%")

Accuracy of the Model is :  49.131248187051085 %